<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<h1>{{ mensalista }}</h1>

	<form action="{% url 'core_url_mensalista_update'  mensalista.id %}" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Cadastrar</button>
	</form>

	<a href="{% url 'core_url_mensalista_delete' mensalista.id %}">DELETAR</a>

</body>
</html>