<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>
<body>
	<h1>{{ pessoa }}</h1>

	<form action="{% url 'cor_url_pessoas_update' pessoa.id %}" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Cadastrar</button>
	</form>

	<a href="{% url 'cor_url_pessoas_delete' pessoa.id %}">Deletar</a>
</body>
</html>
